html
    head
        script(src="https://kit.fontawesome.com/7ce1b73e9f.js")
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer